CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/bin
/tools/bin
/nbproject
/src/tmp
/debug.log
/build
/build_release
*.depend
*.layout
/out
.vs
.vscode
/tmp
*.ninja*
/maps
/.idea
/.cmake
/cmake-build-debug
/GLSMAC.cbp
/GLSMAC_data/mods
*.core
.cache/
.cursor/
